.container {
  margin: auto;
  max-width: 680px;
  padding: 20px 5%;
  h2 {
    font-family: Questrial;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    padding-top: 0.75em;
    padding-bottom: 0.6em;
  }
}

.authorImg {
  display: block;
  width: 30%;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border-radius: 50% 50%;
}

.gitHubImg {
  width: 26px;
  height: 26px;
  border: 0;
  vertical-align: top;
}

@media (max-width: 343px) {
  /* add style required under 343px width */
  .container {
    h2 {
      font-size: 18px;
    }
  }
  .author-blurb {
    font-size: 12px;
  }
  p {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  /* add style required under 600px width */
  h2 {
    font-size: 18px;
  }
}
