.prev-next {
  margin-bottom: 4em;
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
}

button.prevNextNotAvailable, button.prevNextNotAvailable:hover{
  background-color: white;
  color: grey;
  cursor: default;
}
